body {
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  margin-right: auto;
  margin-left: auto;
  padding: 48px;
  word-wrap: break-word;
  max-width: 600px;
}

h1 {
  border-bottom: 0 !important;
}

h1, h2, h3, h4,
h1 code, h2 code, h3 code, h4 code {
  font-weight: 600;
}
